{{ define "footer"}}

<!--Footer-->
<footer class="page-footer blue center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Predix-EC-Configurator v.0.1</h5>
                <p> Running on
                        <a href="https://golang.org/" target="_blank">Go</a> v.1.9 - Designed with
                        <a href="https://mdbootstrap.com" target="_blank">Material Design for Bootstrap</a>.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <p>
                        <a href="https://www.predix.io" target="_blank">Predix, Predix.io and Enterprise Connect</a> are,
                        <a href="https://trademarks.justia.com/860/43/predix-86043990.html" target="_blank">trademarks</a> of the
                        <a href="http://www.ge.com/" target="_blank">General Electric Company.</a>
                </p>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            2017 Developed by
            <a href="https://github.com/indaco" target="_blank">Mirco Veltri</a> and released under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons License.</a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
{{ end }}