{{ define "navbar" }}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/"><i class="fa fa-home prefix"></i></a>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/start">Get Started!
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
{{ end }}